@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    }

/* headings and logo */

#logo {
    font-family: 'Amatic SC', sans-serif;
    font-size: 350%;
    float: left;
    margin-left: 2%;
    padding: 30px;
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
}

a {
    color: #000F04;
    text-decoration: none;
    letter-spacing: 2px;
}

header {
    width: 100%;
    height: 120px;
    background-color: #41B3A3 ;
    padding: 0;
    line-height: 55px;
}

nav li {
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 130%;
    padding: 10px;
    font-weight: bold;
}

/* To underline menu items when active*/

.top-nav a.active {
    border-bottom: 3px solid #000F04;
}

/* main images */ 

#image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 700px;
    width: 100%;
    background: url(../images/SMALL-piotr-musiol-yVsvw3T_6t0-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes image-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#image-text {
    height: 220px;
    width: 700px;

    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;

    background-color: #C38D9E;
    border: 10px solid #41B3A3;
    border-radius: 20px;

    bottom: 450px;
    right: 100px;

    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

#image-text span {
    /*ArtSea word styling*/
    font-size: 180%;
    font-weight: 600;
    background-image: linear-gradient(to left, #41B3A3, #fff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#image-text span, #image-text h2{
    font-family: 'Amatic SC', sans-serif;
    font-size: 220%;
    margin: 0 30px;
}

#image-text ul {
    font-size: 100%;
    display: flex;
    margin: 0 35px 30px;
}

#imagetext-list li {
    width: 100%;
    float: left;
    list-style-type: square;
    margin-left: 45px;
    margin-bottom: 15px;
    padding: 15px;
}

.button {
    width: 110px;
    height: 30px;
    
    background-color: aliceblue;
    
    border: 5px solid #41B3A3;
    border-radius: 20px;
    
    font-family: 'Amatic SC', sans-serif;
    font-weight: bolder;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 10px;
    right: 50px;
}

.button:hover {
    width: 80%;
}

/* welcome message */

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 250%;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px;
}

#about-services {
    width: 100%;
    height: 100%;
    margin: 80px 0;
    text-align: center;
    line-height: 55px;
    display: flex;
    flex-direction: column;
}

#about-services h1 {
    font-size: 250%;
}

#about-services p {
    padding-top: 15px;
    line-height: 35px;
}

#page-link-1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #41B3A3;
}

/*Main Page Information*/

.main-page-info {
    padding: 15px;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-page-info div {
   height: 350px;
   width: 350px;
   border: 10px solid #C38D9E;
   border-radius: 50%;
   background-color: aliceblue;
   margin: 10px 0;
}

.main-page-info h2 {
    padding-top: 120px;
    font-family: 'Amatic SC', sans-serif;
    font-size: 200%;
    text-align: center;
}

.main-page-info h2:hover {
    font-size: 300%;
}

/* Small Gallery section */
.sample-activities {
    width: 380px;
    height: auto;
    margin: 0 1rem 1rem;
    text-align: justify;
}

.sample-activities h2 {
    font-family: 'Amatic SC', sans-serif;
    font-size: ;
}

.small-gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    margin: 50px 0;
}

.image {
    height: auto;
    width: auto;
    border: 5px solid #C38D9E;
    border-radius: 5px;
    box-shadow: 10px -10px 10px #41B3A3;
}

figcaption {
    width: auto;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    text-align: center;
}

/* Footer */

.column {
    float: left;
    height: 240px;
    width: 25%;
    background-color: #41B3A3;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.column ul {
    list-style: none;
    font-size: 130%;
}

.column li:hover {
    font-size: 200%;
}
  
.column h1 {
    margin-top: 40px;
}

.column p, .column li {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#map {
    border-radius: 20px;
}

/* Services Page Styling */

.birthday-parties-main {
   
    margin: 50px 0;
    width: 75%;
    height: 100%;
    position: relative;
    left: 12.5%;
    right: 12.5%;
}
.birthday-parties-main h1 {
    background-color: #C38D9E;
    text-align: center;
    font-weight: bolder;
}
.birthday-parties-main h3 {
    width: 100%;
    margin: 25px 0; 
    text-align: centre;
    font-weight: bolder;
    text-decoration: underline;
}

.birthday-parties-main p {
    width: 100%;
    text-align: centre;
    line-height: 30px;
}

/* Images under Birthday Parties for big and small */

.small-gallery-2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: centre;

    margin: 25px 0 ;
}

.image-2 {
    height: auto;
    width: auto;
    border: 5px solid #C38D9E;
    border-radius: 5px;
    box-shadow: 10px -10px 10px #41B3A3;
}

figcaption {
    width: auto;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}


span {
    width: 75%;
    padding-left: 25px;
}

strong {
    color: #384955;
}

ul {
    display: inline;
    list-style-type: circle;
}

/* YouTube video styling */
#video-1 {
    width: fit-content;
    display: block;
    margin: 0;
}

/* Contact Us Page Form */

#contact-form {
    width: 75%;
    position: relative;
    left: 12.5%;
    right: 12.5%;
}

#content-left {
    width: 50%;
    height: 1000px;
    float: left;
    background: url(../images/SMALL-jonathan-borba-R_7_gGKj68w-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#content-right {
    width: 50%;
    height: 1000px;
    float: right;
    background-color: #C38D9E;
}

#content-right h2 {
    text-align: center;
    margin: 25px 10px;
    line-height: 35px;
}

#form h5 {
    text-align: justify;
    margin: 2% 4%;
}

.party-options {
    background-color: aliceblue;
    color: #000000;
    border-left: 5px solid #41B3A3;
    border-radius: 10px;
    text-align: center;
    height: 25px;
}

.label-message {
    margin: 2%;
}

.message {
    width: 450px;
    height: 300px;
    background-color: aliceblue;
    color: #000000;
    border-left: 5px solid #41B3A3;
    border-radius: 10px;
    text-align: center;
}

.sub-form {
    height: auto;
    width: 600px;
    position: relative;
    left: 0;
    right: 10%;
    text-align: left;
}

.form-details-1 {
    width: 600px;
    height: auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5%;
}

.details-1 {
    background-color: aliceblue;
    color: #000000;
    border-left: 5px solid #41B3A3;
    border-radius: 10px;
    text-align: center;
    height: 25px;
    width: 300px;
}

.form-details-1 p {
    color: #000000;
    text-decoration: underline;
    text-decoration-color: red;
}

.form-details-2 {
    color: #000000;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 5%;
}

.submit-button {
    background-color: aliceblue;
    color: #000000;
    border-left: 5px solid #41B3A3;
    border-radius: 2%;
    text-align: center;
    height: 45px;
    width: 85px;
    margin: 2%;
    display: block;
}

#thank-you-message {
    height: 400px;
    padding-top: 100px;
    padding-bottom: px;
    background-color: #C38D9E;
    text-align: center;
    font-size: 100%;
    line-height: 35px;
    margin-bottom: auto;
}

#thank-you-message h2 {
    margin: 25px 0;
}

#thank-you-message a {
    padding: 25px;
    margin: 25px;
}

@media only screen and (max-width: 667px) {

    /*Header, logo and menu items*/
    header {
        width: 100%;
        line-height: 10px;
    }

    #logo {
        margin: 0;
        font-size: 300%;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        text-align: right;
    }

    nav li {
        margin: 0.2rem;
        font-size: 80%;
    }
    
    #contact-form {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #content-left {
        display: none;
    }

    #content-right {
        width: 100%;
    }

    /*Main image and text box*/
    #image-outer {
        width: 100%;
        height: 350px;
    }
    #main-image {
        width: 100%;
        height: 350px;
    }

    #image-text {
        height: 250px;
        width: 50%;
    
        bottom: 90%;
        left: 30%;
    
        position: relative;
    }

    #image-text span {
        /*ArtSea word styling*/
        font-size: 160%;
        position: relative;
        right: 9%;
    }

    #image-text span, #image-text h2{
        width: 100%;
        margin: 1rem 0;
        text-align: center;
    }
    
    #image-text ul {
        font-size: 100%;
        display: flex;
        margin: 0 35px 30px;
    }
    
    #imagetext-list li {
        display: none;
    }

    .button {
        width: 55%;
        height: 30px;
    
        position: absolute;
        bottom: 10px;
        right: 22%;
    }
    
    .button:hover {
        width: 55%;
    }

    /*Main page info round buttons */

    .main-page-info div {
        height: 250px;
        width: 250px;
        border: 10px solid #C38D9E;
        border-radius: 50%;
        background-color: aliceblue;
        margin: 10px 0;
     }

     .main-page-info h2 {
        padding-top: 100px;
        font-size: 200%;
    }
    
    .main-page-info h2:hover {
        font-size: 240%;
    }

    /*Small gallery*/

    .small-gallery {
        width: 100%;
    }
    
    .image {
        height: auto;
        width: fit-content;
        box-shadow: 10px -10px 10px #41B3A3;
        margin-bottom: 5%;

    }
    
    figcaption {
        width: auto;
        text-align: center;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    /*Footer*/

    .column {
        position: relative;
        width: 50%;
        height: 180px;
    }
      
    .column h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: large;
    }
    
    .column p, .column li {
        margin-top: 10px;
        font-size: 80%;
        line-height: normal;
        text-align: center;
    }
    
    #map {
        border-radius: 20px;
        width: 100%;
        height: 100%;
    }

    /*Contact Us Page*/
    #contact-form {
        width: 100%;
        height: auto;
        position: relative;
        left: 0;
        right: 0;
    }
    
    #content-left {
        display: none;
    }

    #content-right {
        width: 100%;
    }

    .form-details-1 {
        width: 100%;
        align-items: left;
    }
    
    .form-details-2 {
        text-align: left;
    }
    
    .label-message {
        margin: 2%;
    }
    
    .message {
        width: 90%;
        height: 250px;
    }
    
    .sub-form {
        height: auto;
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        text-align: left;
    }
    
    .submit-button {
        background-color: aliceblue;
        color: #000000;
        border-left: 5px solid #41B3A3;
        border-radius: 2%;
        text-align: center;
        height: 45px;
        width: 85px;
        margin: 2%;
        display: block;
    }
    
    
}