@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    }

/*.background-img {
    background-image: url('../images/pawel-czerwinski-AV06Lm42mVo-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* headings and logo */

#logo {
    font-family: 'Amatic SC', sans-serif;
    font-size: 350%;
    float: left;
    margin-left: 60px;
    padding: 30px;
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
}

a {
    color: #000F04;
    text-decoration: none;
    letter-spacing: 2px;
}

header {
    width: 100%;
    height: 120px;
    background-color: #41B3A3 ;
    padding: 0;
    line-height: 55px;
}

nav li {
    font-family: 'Ubuntu', sans-serif;
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 130%;
    padding: 10px;
    font-weight: bold;
}

/* main images */ 

#image-outer {
    height: 700px;
    width: 100%;
    overflow: hidden;
}

#main-image {
    height: 700px;
    width: 100%;
    background: url(../images/SMALL-piotr-musiol-yVsvw3T_6t0-unsplash\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation-name: image-zoom;
    animation-duration: 5s;
    animation-fill-mode: both;
}

@keyframes image-zoom {
    from {
        transform: scale(1.1);
    }
    to {
        transform: scale(1);
    }
}

#image-text {
    height: 200px;
    width: 700px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;

    background-color: #C38D9E;
    border: 10px solid #41B3A3;
    border-radius: 20px;

    bottom: 450px;
    right: 100px;

    position: absolute;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

#image-text span {
    /*ArtSea word styling*/
    font-size: 200%;
    font-weight: 600;
    background-image: linear-gradient(to left, #41B3A3, #fff);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#image-text span, #image-text h1{
    margin: 0 30px;
}

#image-text ul {
    font-size: 100%;
    display: flex;
    margin: 0 35px 25px;
    

}

#imagetext-list li {
    width: 100%;
    float: left;
    list-style-type: square;
    margin-left: 20px;
    padding: 15px;
}

.button {
    width: 110px;
    height: 30px;
    
    background-color: aliceblue;
    
    border: 5px solid #41B3A3;
    border-radius: 20px;
    
    font-family: 'Amatic SC', sans-serif;
    font-weight: bolder;
    font-size: 130%;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    bottom: 10px;
    right: 50px;
}

.button:hover {
    width: 80%;
}

/* welcome message */

h1 {
    font-family: 'Amatic SC', sans-serif;
    font-size: 250%;
    letter-spacing: 2px;
    text-align: center;
    padding: 5px;
}

#about-services {
    width: 100%;
    height: 100%;
    margin: 100px 0;
    text-align: center;
    line-height: 55px;
    display: flex;
    flex-direction: column;
}

#about-services h1 {
    font-size: 250%;
}

#about-services p {
    padding-top: 15px;
    line-height: 35px;
}

#page-link-1 {
    text-transform: uppercase;
    font-weight: bolder;
    color: #41B3A3;
}

/*Main Page Information*/

.main-page-info {
    padding: 15px;
    margin: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.main-page-info div {
   height: 350px;
   width: 350px;
   border: 10px solid #C38D9E;
   border-radius: 50%;
   background-color: aliceblue;
   margin: 50px 0;
}

.main-page-info h1 {
    padding-top: 125px;
}

.main-page-info h1:hover {
    font-size: 300%;
}

/* Small Gallery section */
.small-gallery {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 50px 0;
}

.image {
    height: auto;
    width: auto;    
}

figcaption {
    width: auto;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px;
    text-align: center;
}

/* Footer */

.column {
    float: left;
    height: 250px;
    width: 25%;
    background-color: #41B3A3;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.column ul {
    list-style: none;
    font-size: 130%;
}
  
.column h1 {
    margin-top: 40px;
}

.column p, .column li {
    margin-top: 10px;
    font-family: 'Ubuntu', sans-serif;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#map {
    border-radius: 20px;
}
