@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Ubuntu, sans-serif;
    }

.background-img {
    background-image: url('../images/pawel-czerwinski-AV06Lm42mVo-unsplash.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* headings and logo */

#logo {
    font-family: Amatic SC, sans-serif;
    font-size: 350%;
    float: left;
    margin-left: 60px;
    padding: 30px;
}

h1, h2 {
    font-family: Ubuntu, sans-serif;
}

a {
    color: #000F04;
    text-decoration: none;
    letter-spacing: 2px;
}

#header-menu {
    width: 100%;
    height: 110px;
    background-color: #41B3A3 ;
    padding: 0;
}

#header-menu, #logo {
    line-height: 55px;
}

#header-menu li {
    list-style-type: none;
    float: right;
    margin-right: 30px;
    margin-top: 45px;
    font-size: 100%;
    padding: 0 10px;
}